.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  z-index: 0;
}
.custom-marker {
  background: transparent;
  border: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 8px;
}
.leaflet-popup-content {
  margin: 12px;
  font-family: inherit;
}
